html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  //wasn't acting like 100% until this and html 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$background: url("./public/The_Strip_3_Amelinda_B_Lee.0.0.jpg");
$logo: "./public/keno_logo.png";

$black: #000000;
$black-75: rgba(0, 0, 0, 0.75);
$blue: #011f6b;
$darkBlue: #3a3b5a;
$gray: #6b635b;
$green: #02550f;
$greenBall: #04ca21;
$orange: #fc9403;
$red: #ac2c34;
$redBall: #f7404c;
$white: #ffffff;
$yellow: #d3aa05;

$delayExponent: 2;

$topPix: -85px;
$rightPercent: 59.3%;

$leftPercent: 30.3%;

$rotateLeft: -720deg;
$rotateRight: 720deg;
