body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$background: url("./public/The_Strip_3_Amelinda_B_Lee.0.0.jpg");

$black: #000000;
$blue: #011f6b;
$darkBlue: #3a3b5a;
$gray: #6b635b;
$green: #02550f;
$red: #ac2c34;
$white: #dedfdc;
$yellow: #d3aa05;

$delayExponent: 2;
