@import "./index";

.navbar {
  width: 100%;
  height: 65px;
  background-color: $black-75;
  position: relative;
  top: 0px;
  border: 2px solid $black;
}

.navbar__logo {
  //content: url($logo);
  // width: 18%;
  width: 78px;
  position: relative;
  padding: 0 5px;
  top: 33px;
}

.navbar__logo-text {
  position: absolute;
  top: -28px;
  left: calc(5% - 3px);
  font-size: 48px;
  font-weight: 350;
  color: $white;
  padding: 0px;
  z-index: 5;
}

.background {
  background-image: $background;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.machine {
  //text-align: center;
  display: table;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 110px;
}

.display {
  display: table-cell;
  width: 27.8%;
  min-height: 200px;
  //border: 1px solid $black;
  border: 2px solid $black;
  margin-right: 25px;
  padding: 0px !important;
  //background-color: rgba(255, 255, 255, 0.5);
}

// .machine-table__top tr > td {
//   font-size: 36px;
// }

.display--bottom {
  background-color: $white;
  color: $green;
  border: 2px solid $black;
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 27.8% !important;
}

// .machine-table__bottom tr > td {
//   font-size: 36px;
// }

// .table-filler {
//   min-height: 350px;
// }

// .table-row-wrap {
//   height: 200px;
// }

table {
  border-collapse: collapse;
  //min-height: 350px;
}

// tbody {
//   width: 100%;
//   // min-height: 350px;
//   padding: 0;
//   //box-sizing: border-box;
// }

.display__pay-line {
  border-top: 2px solid transparent;
  //border-bottom: 2px solid transparent;
}

// .pay-line-win {
//   background-color: $green;
// }

tr {
  //font-size: 24px;
  padding: 0;
  margin: 0;
}

// td {
//   //font-size: 18px;
//   padding: 2px 10px 2px 10px;
// }

.display__table {
  width: 100%;
}

// .display > table {
//   width: 100%;
// }

.display__text-left {
  text-align: left;
  font-size: 36px;
  padding: 2px 10px 2px 10px;
}

.display__text-right {
  text-align: right;
  font-size: 36px;
  padding: 2px 10px 2px 10px;
}

.display__top {
  color: $white;
  background-color: $black-75;
}

.display--top-text {
  color: $white;
  //font-size: 36px;
  //padding: 5px;
  font-weight: 350;
}

.display--pay {
  background-color: $green;
  border-top: 2px solid black !important;
  border-bottom: 2px solid black !important;
}

.display--pay > td {
  color: $white;
}

.card--hint {
  //background-color: $red !important;
  //box-shadow: 0 0 0 0 $greenRGB100;
  transform: scale(1);
  animation: pulse-card 1s;
}

@keyframes pulse-card {
  0% {
    transform: scale(1);
    //box-shadow: 0 0 0 1px $greenRGB100;
  }

  50% {
    transform: scale(1.1);
    //box-shadow: 0 0 0 3px $greenRGB70;
  }

  100% {
    transform: scale(1);
    //box-shadow: 0 0 0 5px $greenRGB40;
  }
}

.button--hint-credit {
  background-color: $red !important;
  //box-shadow: 0 0 0 0 $greenRGB100;
  transform: scale(1);
  animation: pulse 1s;
}

.button--hint-bet {
  background-color: $green !important;
  //box-shadow: 0 0 0 0 $greenRGB100;
  transform: scale(1);
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    //box-shadow: 0 0 0 1px $greenRGB100;
  }

  50% {
    transform: scale(1.5);
    //box-shadow: 0 0 0 3px $greenRGB70;
  }

  100% {
    transform: scale(1);
    //box-shadow: 0 0 0 5px $greenRGB40;
  }
}

// .bet-line {
//   background-color: $yellow;
//   color: $black;
// }

.card {
  display: table-cell;
  width: 56.7%;
  vertical-align: top;
  margin-top: 50px;
}

.spacer-200 {
  width: 12.73%;
  height: calc(100% - 4px);
  position: absolute;
  text-align: center;
  margin-left: 1.3%;
}

.denomination {
  font-size: 75px;
  text-align: center;
  text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.denomination + span {
  font-size: 50px;
  margin-left: -10px;
}

.display__credit {
  background-color: $black-75;
  color: $white;
  font-size: 36px;
  //text-shadow: 2px 2px 5px $black, -2px -2px 5px $black;
  border: 2px solid $black;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: calc(27.8% - 4px);
}

.card__container {
  //width: 50%;
  border: 1px solid $black-75;
  background-color: $black-75;
  display: flex;
  flex-wrap: wrap;
}

.card__number {
  //display: inline-block;
  position: relative;
  border: 1px solid $black-75;
  //width: 9.7%;
  flex: 9%;
  padding: 5px 0px 5px 0px;
  //height: auto;
  background-color: $blue;
  color: $white;
  font-size: 36px;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  //transition: ease-out 0s;
  -webkit-transition: -webkit-transform 0s ease-out;
  -ms-transition: -ms-transform 0s ease-out;
  transition: 0s ease-out;
}

.card__number--active {
  background-color: $red;
}

.card__number--selected {
  background-color: $yellow;
}

.card__number--hit {
  background-color: $green !important;
  border-color: $white;
}

.button-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 133px;
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 0 0 13%;
  padding: 5px 0px 5px 0px;
  color: $white;
  font-size: 18px;
  text-align: center;
  background-color: $black-75;
  border: 2px solid $black-75;
  // opacity: 0.75;
  // filter: alpha(opacity=75); /* For IE8 and earlier */
  cursor: pointer;
}

.speed-button {
  // color: $gray;
  opacity: 0.75;
}

.simulate {
  position: absolute;
  bottom: 0px;
  // hide simulate button
  display: none;
}

.button--running {
  // cursor: not-allowed !important;
  background-color: $red;
}

.bet-container {
  //flex: 0 0 13%;
  display: flex;
  width: 13%;
  justify-content: space-between;
  //border: 1px solid red;
}

.button--plus,
.button--minus {
  flex: 0 0 43%;
}

.card__number--random-1 {
  transition-delay: 0s * $delayExponent;
  -webkit-transition-delay: 0s; /* Safari */
}

.card__number--random-2 {
  transition-delay: 0.1s * $delayExponent;
  -webkit-transition-delay: 0.1s * $delayExponent; /* Safari */
}

.card__number--random-3 {
  transition-delay: 0.2s * $delayExponent;
  -webkit-transition-delay: 0.2s * $delayExponent; /* Safari */
}

.card__number--random-4 {
  transition-delay: 0.3s * $delayExponent;
  -webkit-transition-delay: 0.3s * $delayExponent; /* Safari */
}

.card__number--random-5 {
  transition-delay: 0.4s * $delayExponent;
  -webkit-transition-delay: 0.4s * $delayExponent; /* Safari */
}

.card__number--random-6 {
  transition-delay: 0.5s * $delayExponent;
  -webkit-transition-delay: 0.5s * $delayExponent; /* Safari */
}

.card__number--random-7 {
  transition-delay: 0.6s * $delayExponent;
  -webkit-transition-delay: 0.6s * $delayExponent; /* Safari */
}

.card__number--random-8 {
  transition-delay: 0.7s * $delayExponent;
  -webkit-transition-delay: 0.7s * $delayExponent; /* Safari */
}

.card__number--random-9 {
  transition-delay: 0.8s * $delayExponent;
  -webkit-transition-delay: 0.8s * $delayExponent; /* Safari */
}

.card__number--random-10 {
  transition-delay: 0.9s * $delayExponent;
  -webkit-transition-delay: 0.9s * $delayExponent; /* Safari */
}

.card__number--random-11 {
  transition-delay: 1s * $delayExponent;
  -webkit-transition-delay: 1s * $delayExponent; /* Safari */
}

.card__number--random-12 {
  transition-delay: 1.1s * $delayExponent;
  -webkit-transition-delay: 1.1s * $delayExponent; /* Safari */
}

.card__number--random-13 {
  transition-delay: 1.2s * $delayExponent;
  -webkit-transition-delay: 1.2s * $delayExponent; /* Safari */
}

.card__number--random-14 {
  transition-delay: 1.3s * $delayExponent;
  -webkit-transition-delay: 1.3s * $delayExponent; /* Safari */
}

.card__number--random-15 {
  transition-delay: 1.4s * $delayExponent;
  -webkit-transition-delay: 1.4s * $delayExponent; /* Safari */
}

.card__number--random-16 {
  transition-delay: 1.5s * $delayExponent;
  -webkit-transition-delay: 1.5s * $delayExponent; /* Safari */
}

.card__number--random-17 {
  transition-delay: 1.6s * $delayExponent;
  -webkit-transition-delay: 1.6s * $delayExponent; /* Safari */
}

.card__number--random-18 {
  transition-delay: 1.7s * $delayExponent;
  -webkit-transition-delay: 1.7s * $delayExponent; /* Safari */
}

.card__number--random-19 {
  transition-delay: 1.8s * $delayExponent;
  -webkit-transition-delay: 1.8s * $delayExponent; /* Safari */
}

.card__number--random-20 {
  transition-delay: 1.9s * $delayExponent;
  -webkit-transition-delay: 1.9s * $delayExponent; /* Safari */
}

.origin-box {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -85px;
  z-index: 2;
  //border: 2px solid $black;
}

.origin-box--left {
  left: 0px;
}

.origin-box--mid-left {
  left: calc(#{$leftPercent} - 9px);
  width: 72px;
  height: 72px;
  border: none;
  //z-index: -1;
}

.origin-box--right {
  right: 0px;
}

.origin-box--mid-right {
  right: calc(#{$rightPercent} - 9px);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 72px;
  height: 72px;
  border: none;
  //z-index: -1;
}

.origin-box-back {
  width: 50px;
  top: -80px;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color: $black-75;
}

.origin-box-back--left {
  left: 5px;
}

.origin-box-back--right {
  right: 5px;
}

.origin-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: -79px;
  z-index: 2;
  //display: none;
  //rotate(0deg);
  //transition: all 2.5s linear;
}

.origin-circle--left {
  left: 6px;
}

.origin-circle--mid-left {
  left: calc(#{$leftPercent} + 3px);
}

.origin-circle--right {
  right: 6px;
}

.origin-circle--mid-right {
  right: calc(#{$rightPercent} + 2px);
}

.origin-circle--rotate-left {
  //transform: rotate(1800deg);
  animation: rotation-left 5s linear;
  -webkit-animation: rotation-left 5s linear;
  //animation-fill-mode: both;
}

.origin-circle--rotate-right {
  //transform: rotate(-1800deg);
  animation: rotation-right 5s linear;
  -webkit-animation: rotation-right 5s linear;
  //animation-fill-mode: both;
}

.origin-tube {
  position: absolute;
  top: -85px;
  height: 56px;
  // background: rgba(255, 255, 255, 0.25);
  // border: 1px solid rgba(255, 255, 255, 0.7);
  // box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.5) inset;
  background: linear-gradient(
    to top,
    rgba(180, 180, 180, 0.5) 0%,
    rgba(180, 180, 180, 0.1) 5%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 28%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 90%
  );
  border-color: rgba(0, 0, 0, 1);
  border-image: none;
  border-style: solid;
  border-width: 2px;

  z-index: 1;
}

.origin-tube--right {
  right: 58px;
  width: calc(57% + 1px);
}

.origin-tube--left {
  left: 58px;
  width: calc(28% + 1px);
}

@-moz-keyframes rotation-left {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(1800deg);
  }
}
@keyframes rotation-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1800deg);
  }
}

@-moz-keyframes rotation-right {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-1800deg);
  }
}
@keyframes rotation-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-1800deg);
  }
}
@-webkit-keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1800deg);
  }
}

.ball {
  width: 55px;
  height: 55px;
  position: absolute;
  top: $topPix;
  z-index: 0;
  //border-radius: 50%;

  text-align: center;
}

/* Spinning the sphere using key frames */
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.last-ball {
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}

.ball--even {
  left: 2px;
  transition: all 0.5s * $delayExponent;
  transition-timing-function: linear;
  transform: rotate(0deg);
}

.last-ball--even-last {
  left: calc(#{$leftPercent} + 5px);
}

.ball--odd {
  right: 2px;
  transition: all 0.5s * $delayExponent;
  transition-timing-function: linear;
  transform: rotate(0deg);
}

.last-ball--odd-last {
  right: calc(#{$rightPercent} + 5px);
}

.ball--green,
.last-ball--green {
  // background: radial-gradient(
  //   circle at 65% 15%,
  //   white 1px,
  //   #e3fee7 10%,
  //   #02550f 80%,
  //   #e3fee7 100%
  // );
  background: $greenBall;
  border-radius: 50%;
  background: -webkit-radial-gradient(circle at 20px 20px, $greenBall, $black);
  background: -moz-radial-gradient(circle at 20px 20px, $greenBall, $black);
  background: radial-gradient(circle at 20px 20px, $greenBall, $black);
}

.ball--red,
.last-ball--red {
  // background: radial-gradient(
  //   circle at 65% 15%,
  //   white 1px,
  //   #fddddf 10%,
  //   #ac2c34 80%,
  //   #fddddf 100%
  // );
  background: $redBall;
  border-radius: 50%;
  background: -webkit-radial-gradient(circle at 20px 20px, $redBall, $black);
  background: -moz-radial-gradient(circle at 20px 20px, $redBall, $black);
  background: radial-gradient(circle at 20px 20px, $redBall, $black);
}

.last-ball > span,
.ball > span {
  display: inline-block;
  color: white;
  font-family: Arial;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
  margin-top: calc(50% - 15px);
}

.ball-test-right {
  transform: rotate($rotateLeft);
  right: $rightPercent;
}

.ball-test-left {
  transform: rotate($rotateRight);
  right: $leftPercent;
}

.ball--1 {
  animation-name: keno-ball-down-1;
  animation-duration: 0.5s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 0.5s * $delayExponent;
  -webkit-animation-delay: 0.5s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--2 {
  animation-name: keno-ball-down-1;
  animation-duration: 0.5s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 0.6s * $delayExponent;
  -webkit-animation-delay: 0.6s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.1s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--1,
.last-ball--2 {
  top: 90%;
}

@keyframes keno-ball-down-1 {
  0% {
    top: $topPix;
  }

  100% {
    top: 90%;
  }
}

.ball--3 {
  animation-name: keno-ball-down-2;
  animation-duration: 0.45s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 0.7s * $delayExponent;
  -webkit-animation-delay: 0.7s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.2s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--4 {
  animation-name: keno-ball-down-2;
  animation-duration: 0.45s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 0.8s * $delayExponent;
  -webkit-animation-delay: 0.8s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.3s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--3,
.last-ball--4 {
  top: 80%;
}

@keyframes keno-ball-down-2 {
  0% {
    top: $topPix;
  }

  100% {
    top: 80%;
  }
}

.ball--5 {
  animation-name: keno-ball-down-3;
  animation-duration: 0.4s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 0.9s * $delayExponent;
  -webkit-animation-delay: 0.9s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.4s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--6 {
  animation-name: keno-ball-down-3;
  animation-duration: 0.4s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1s * $delayExponent;
  -webkit-animation-delay: 1s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.5s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--5,
.last-ball--6 {
  top: 70%;
}

@keyframes keno-ball-down-3 {
  0% {
    top: $topPix;
  }

  100% {
    top: 70%;
  }
}

.ball--7 {
  animation-name: keno-ball-down-4;
  animation-duration: 0.35s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.1s * $delayExponent;
  -webkit-animation-delay: 1.1s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.6s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--8 {
  animation-name: keno-ball-down-4;
  animation-duration: 0.35s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.2s * $delayExponent;
  -webkit-animation-delay: 1.2s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.7s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--7,
.last-ball--8 {
  top: 60%;
}

@keyframes keno-ball-down-4 {
  0% {
    top: $topPix;
  }

  100% {
    top: 60%;
  }
}

.ball--9 {
  animation-name: keno-ball-down-5;
  animation-duration: 0.3s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.3s * $delayExponent;
  -webkit-animation-delay: 1.3s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.8s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--10 {
  animation-name: keno-ball-down-5;
  animation-duration: 0.3s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.4s * $delayExponent;
  -webkit-animation-delay: 1.4s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 0.9s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--9,
.last-ball--10 {
  top: 50%;
}

@keyframes keno-ball-down-5 {
  0% {
    top: $topPix;
  }

  100% {
    top: 50%;
  }
}

.ball--11 {
  animation-name: keno-ball-down-6;
  animation-duration: 0.25s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.5s * $delayExponent;
  -webkit-animation-delay: 1.5s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--12 {
  animation-name: keno-ball-down-6;
  animation-duration: 0.25s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.6s * $delayExponent;
  -webkit-animation-delay: 1.6s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.1s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--11,
.last-ball--12 {
  top: 40%;
}

@keyframes keno-ball-down-6 {
  0% {
    top: $topPix;
  }

  100% {
    top: 40%;
  }
}

.ball--13 {
  animation-name: keno-ball-down-7;
  animation-duration: 0.2s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.7s * $delayExponent;
  -webkit-animation-delay: 1.7s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.2s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--14 {
  animation-name: keno-ball-down-7;
  animation-duration: 0.2s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.8s * $delayExponent;
  -webkit-animation-delay: 1.8s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.3s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--13,
.last-ball--14 {
  top: 30%;
}

@keyframes keno-ball-down-7 {
  0% {
    top: $topPix;
  }

  100% {
    top: 30%;
  }
}

.ball--15 {
  animation-name: keno-ball-down-8;
  animation-duration: 0.15s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 1.9s * $delayExponent;
  -webkit-animation-delay: 1.9s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.4s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--16 {
  animation-name: keno-ball-down-8;
  animation-duration: 0.15s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 2s * $delayExponent;
  -webkit-animation-delay: 2s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.5s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--15,
.last-ball--16 {
  top: 20%;
}

@keyframes keno-ball-down-8 {
  0% {
    top: $topPix;
  }

  100% {
    top: 20%;
  }
}

.ball--17 {
  animation-name: keno-ball-down-9;
  animation-duration: 0.1s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 2.1s * $delayExponent;
  -webkit-animation-delay: 2.1s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.6s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--18 {
  animation-name: keno-ball-down-9;
  animation-duration: 0.1s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 2.2s * $delayExponent;
  -webkit-animation-delay: 2.2s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.7s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--17,
.last-ball--18 {
  top: 10%;
}

@keyframes keno-ball-down-9 {
  0% {
    top: $topPix;
  }

  100% {
    top: 10%;
  }
}

.ball--19 {
  animation-name: keno-ball-down-10;
  animation-duration: 0.05s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 2.3s * $delayExponent;
  -webkit-animation-delay: 2.3s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.8s * $delayExponent;
  transform: rotate($rotateLeft);
  right: calc(#{$rightPercent} + 5px);
}

.ball--20 {
  animation-name: keno-ball-down-10;
  animation-duration: 0.05s * $delayExponent;
  animation-timing-function: linear;
  animation-delay: 2.4s * $delayExponent;
  -webkit-animation-delay: 2.4s * $delayExponent; /* Safari */
  animation-fill-mode: forwards;
  transition-delay: 1.9s * $delayExponent;
  transform: rotate($rotateRight);
  left: calc(#{$leftPercent} + 5px);
}

.last-ball--19,
.last-ball--20 {
  top: 0%;
}

@keyframes keno-ball-down-10 {
  0% {
    top: $topPix;
  }

  100% {
    top: 0%;
  }
}

.last-ball--fade-trans {
  opacity: 0;
}

.last-ball--fade-out {
  transition: opacity 0.5s * $delayExponent;
  transition-timing-function: linear;
}

.spin {
  /* Animation to spin and move the sphere */
  // animation-name: spin;
  -webkit-animation: spin 1000ms linear;
  -moz-animation: spin 1000ms linear;
  -ms-animation: spin 1000ms linear;
  animation: spin 1000ms linear;

  //-webkit-transition: all 1s ease;
  //transition: all 1s ease;
}

//Begin - Mobile and Screen Scale Styling
@media screen and (max-width: 1024px) {
  $topPix: -35px;
  .navbar {
    height: 31px;
  }

  .navbar__logo {
    // width: 14%;
    width: 42px;
    top: 17px;
    z-index: 5;
  }

  .navbar__logo-text {
    font-size: 28px;
    top: -18px;
  }

  .machine {
    top: 38px;
  }

  .origin-box {
    width: 30px;
    height: 30px;
    top: -34px;
  }

  .origin-box--mid-left {
    left: calc(#{$leftPercent} - 1px);
    width: 35px;
    height: 35px;
  }

  .origin-box--mid-right {
    right: calc(#{$rightPercent} - 1px);
    width: 35px;
    height: 35px;
  }

  .origin-circle {
    width: 24px;
    height: 24px;
    top: -31px;
  }

  .origin-circle--left {
    left: 3px;
  }

  .origin-circle--right {
    right: 3px;
  }

  .origin-box-back {
    width: 25px;
    height: 25px;
    top: -31px;
  }

  .origin-box-back--left {
    left: 2px;
  }

  .origin-box-back--right {
    right: 2px;
  }

  .origin-tube {
    top: -34px;
    height: 26px;
  }

  .origin-tube--right {
    right: 28px;
    width: calc(57% + 1px);
  }

  .origin-tube--left {
    left: 28px;
    width: calc(28% + 1px);
  }

  .denomination {
    font-size: 25px;
  }

  .card {
    width: 57.15%;
  }

  .card__number {
    font-size: 14px;
  }

  .display {
    width: 28.15%;
  }

  .display--bottom {
    bottom: 26px;
    width: 28.15% !important;
  }

  .display__text-left {
    font-size: 18px;
  }

  .display__text-right {
    font-size: 18px;
  }

  // .display__top tr > td {
  //   font-size: 18px;
  // }

  // .display--bottom tr > td {
  //   font-size: 18px;
  // }

  th {
    font-size: 18px;
  }

  .display__credit {
    font-size: 18px;
    //width: 27.8% !important;
  }

  .button-container {
    top: 42px;
  }

  .button {
    font-size: 12px;
  }

  .ball {
    width: 25px;
    height: 25px;
    top: $topPix1024;
  }

  .last-ball {
    width: 25px;
    height: 25px;
  }

  .last-ball > span,
  .ball > span {
    display: inline-block;
    color: white;
    font-family: Arial;
    font-size: 12px;
    text-shadow: 2px 2px 5px black;
    margin-top: calc(70% - 15px);
  }

  @keyframes keno-ball-down-1 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 90%;
    }
  }
  @keyframes keno-ball-down-2 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 80%;
    }
  }
  @keyframes keno-ball-down-3 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 70%;
    }
  }
  @keyframes keno-ball-down-4 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 60%;
    }
  }
  @keyframes keno-ball-down-5 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 50%;
    }
  }
  @keyframes keno-ball-down-6 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 40%;
    }
  }
  @keyframes keno-ball-down-7 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 30%;
    }
  }
  @keyframes keno-ball-down-8 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 20%;
    }
  }
  @keyframes keno-ball-down-9 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 10%;
    }
  }
  @keyframes keno-ball-down-10 {
    0% {
      top: $topPix1024;
    }

    100% {
      top: 0%;
    }
  }
}
//End - Mobile and Screen Scale Styling
